
#company{
    font-size: 50px;
    color: aqua;
}

nav{
    height: 40px;
    background-color: rgb(10, 12, 18);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: white;
    padding: 20px;
    align-items: center;
}
#rightspan{
    margin-left: 900px;
    display: flex;
    align-items: center;
    color: white;
}
#rightspan button{
    border: none;
    background-color: rgb(96, 247, 211);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}
.greeting{
    margin-left: 60px;
    color: white;
    margin-top: 20px;
}
#search_issue{
    border: none;
    padding: 10px;
    width: 300px;
    text-decoration: none;
    margin-left: 60px;
}
#multiple_btns{
    margin-left: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.active_btns{
    padding: 10px;
  background-color: #f0f0f0; /* Default color */
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  color: #333;
}

.active_btns.selected {
    background-color: rgb(96, 247, 211); /* Highlight color */
    /* color: #fff; */
    border-color: #4CAF50;
  }
  
  .active_btns:hover {
    background-color: #e0e0e0; /* Hover effect */
  }
  
  #open_ticket{
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 10px;
  }
  .divider{
    width: 800px;
    margin-left: 60px;
  }

  .cards_holder{
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    color: white;
    padding: 10px;
  }

.pagination_btns{
  height: 50px;
  width: 50px;
  padding: 10px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}
.pagination_btns:hover{
  background-color: #4CAF50;
}